<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.file.view">

    <!-- 访问网络状态 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序访问有关GSM网络信息-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序访问Wi-Fi网络状态信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 写入外部存储-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:hardwareAccelerated="true">
        <!--https://x5.tencent.com/docs/questions.html 问题3.6解决方案-->
        <!--在Android P机型遇到org.apache包名找不到的crash -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>
</manifest>
